.vs/
**/bin
**/obj
.idea/
lab3/lab3_friz/task5/Command.cs
lab3/lab3_friz/task5/HtmlRenderingVisitor.cs
lab3/lab3_friz/task5/ICommand.cs
lab3/lab3_friz/task5/INodeVisitor.cs
lab3/lab3_friz/task5/State.cs
lab3/lab3_friz/task5/VisibleState.cs
lab4/lab4_friz/task1/TechnicalSupportHandler.cs
lab6/Inventory/Inventory/Properties/Resources.resx
