lab2/lab2_friz/.vs/lab2_friz/DesignTimeBuild/.dtbcache.v2
lab2/lab2_friz/.vs/lab2_friz/v16/.suo
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/lab2_friz.deps.json
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/lab2_friz.dll
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/lab2_friz.exe
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/lab2_friz.pdb
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/lab2_friz.runtimeconfig.dev.json
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/lab2_friz.runtimeconfig.json
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/task1.dll
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/task1.pdb
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/task2.dll
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/task2.pdb
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/task3.dll
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/task3.pdb
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/task4.dll
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/task4.pdb
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/task5.dll
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/task5.pdb
lab2/lab2_friz/lab2_friz/bin/Debug/net5.0/ref/lab2_friz.dll
lab2/lab2_friz/lab2_friz/obj/lab2_friz.csproj.nuget.dgspec.json
lab2/lab2_friz/lab2_friz/obj/lab2_friz.csproj.nuget.g.props
lab2/lab2_friz/lab2_friz/obj/lab2_friz.csproj.nuget.g.targets
lab2/lab2_friz/lab2_friz/obj/project.assets.json
lab2/lab2_friz/lab2_friz/obj/project.nuget.cache
lab2/lab2_friz/lab2_friz/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab2/lab2_friz/lab2_friz/obj/Debug/net5.0/apphost.exe
lab2/lab2_friz/lab2_friz/obj/Debug/net5.0/lab2_friz.AssemblyInfo.cs
lab2/lab2_friz/lab2_friz/obj/Debug/net5.0/lab2_friz.AssemblyInfoInputs.cache
lab2/lab2_friz/lab2_friz/obj/Debug/net5.0/lab2_friz.assets.cache
lab2/lab2_friz/lab2_friz/obj/Debug/net5.0/lab2_friz.csproj.AssemblyReference.cache
lab2/lab2_friz/lab2_friz/obj/Debug/net5.0/lab2_friz.csproj.CopyComplete
lab2/lab2_friz/lab2_friz/obj/Debug/net5.0/lab2_friz.csproj.CoreCompileInputs.cache
lab2/lab2_friz/lab2_friz/obj/Debug/net5.0/lab2_friz.csproj.FileListAbsolute.txt
lab2/lab2_friz/lab2_friz/obj/Debug/net5.0/lab2_friz.dll
lab2/lab2_friz/lab2_friz/obj/Debug/net5.0/lab2_friz.GeneratedMSBuildEditorConfig.editorconfig
lab2/lab2_friz/lab2_friz/obj/Debug/net5.0/lab2_friz.genruntimeconfig.cache
lab2/lab2_friz/lab2_friz/obj/Debug/net5.0/lab2_friz.pdb
lab2/lab2_friz/lab2_friz/obj/Debug/net5.0/ref/lab2_friz.dll
lab2/lab2_friz/task1/bin/Debug/net5.0/task1.deps.json
lab2/lab2_friz/task1/bin/Debug/net5.0/task1.dll
lab2/lab2_friz/task1/bin/Debug/net5.0/task1.pdb
lab2/lab2_friz/task1/bin/Debug/net5.0/ref/task1.dll
lab2/lab2_friz/task1/obj/project.assets.json
lab2/lab2_friz/task1/obj/project.nuget.cache
lab2/lab2_friz/task1/obj/task1.csproj.nuget.dgspec.json
lab2/lab2_friz/task1/obj/task1.csproj.nuget.g.props
lab2/lab2_friz/task1/obj/task1.csproj.nuget.g.targets
lab2/lab2_friz/task1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab2/lab2_friz/task1/obj/Debug/net5.0/task1.AssemblyInfo.cs
lab2/lab2_friz/task1/obj/Debug/net5.0/task1.AssemblyInfoInputs.cache
lab2/lab2_friz/task1/obj/Debug/net5.0/task1.assets.cache
lab2/lab2_friz/task1/obj/Debug/net5.0/task1.csproj.AssemblyReference.cache
lab2/lab2_friz/task1/obj/Debug/net5.0/task1.csproj.CoreCompileInputs.cache
lab2/lab2_friz/task1/obj/Debug/net5.0/task1.csproj.FileListAbsolute.txt
lab2/lab2_friz/task1/obj/Debug/net5.0/task1.dll
lab2/lab2_friz/task1/obj/Debug/net5.0/task1.GeneratedMSBuildEditorConfig.editorconfig
lab2/lab2_friz/task1/obj/Debug/net5.0/task1.pdb
lab2/lab2_friz/task1/obj/Debug/net5.0/ref/task1.dll
lab2/lab2_friz/task2/bin/Debug/net5.0/task2.deps.json
lab2/lab2_friz/task2/bin/Debug/net5.0/task2.dll
lab2/lab2_friz/task2/bin/Debug/net5.0/task2.pdb
lab2/lab2_friz/task2/bin/Debug/net5.0/ref/task2.dll
lab2/lab2_friz/task2/obj/project.assets.json
lab2/lab2_friz/task2/obj/project.nuget.cache
lab2/lab2_friz/task2/obj/task2.csproj.nuget.dgspec.json
lab2/lab2_friz/task2/obj/task2.csproj.nuget.g.props
lab2/lab2_friz/task2/obj/task2.csproj.nuget.g.targets
lab2/lab2_friz/task2/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab2/lab2_friz/task2/obj/Debug/net5.0/task2.AssemblyInfo.cs
lab2/lab2_friz/task2/obj/Debug/net5.0/task2.AssemblyInfoInputs.cache
lab2/lab2_friz/task2/obj/Debug/net5.0/task2.assets.cache
lab2/lab2_friz/task2/obj/Debug/net5.0/task2.csproj.AssemblyReference.cache
lab2/lab2_friz/task2/obj/Debug/net5.0/task2.csproj.CoreCompileInputs.cache
lab2/lab2_friz/task2/obj/Debug/net5.0/task2.csproj.FileListAbsolute.txt
lab2/lab2_friz/task2/obj/Debug/net5.0/task2.dll
lab2/lab2_friz/task2/obj/Debug/net5.0/task2.GeneratedMSBuildEditorConfig.editorconfig
lab2/lab2_friz/task2/obj/Debug/net5.0/task2.pdb
lab2/lab2_friz/task2/obj/Debug/net5.0/ref/task2.dll
lab2/lab2_friz/task3/bin/Debug/net5.0/task3.deps.json
lab2/lab2_friz/task3/bin/Debug/net5.0/task3.dll
lab2/lab2_friz/task3/bin/Debug/net5.0/task3.pdb
lab2/lab2_friz/task3/bin/Debug/net5.0/ref/task3.dll
lab2/lab2_friz/task3/obj/project.assets.json
lab2/lab2_friz/task3/obj/project.nuget.cache
lab2/lab2_friz/task3/obj/task3.csproj.nuget.dgspec.json
lab2/lab2_friz/task3/obj/task3.csproj.nuget.g.props
lab2/lab2_friz/task3/obj/task3.csproj.nuget.g.targets
lab2/lab2_friz/task3/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab2/lab2_friz/task3/obj/Debug/net5.0/task3.AssemblyInfo.cs
lab2/lab2_friz/task3/obj/Debug/net5.0/task3.AssemblyInfoInputs.cache
lab2/lab2_friz/task3/obj/Debug/net5.0/task3.assets.cache
lab2/lab2_friz/task3/obj/Debug/net5.0/task3.csproj.AssemblyReference.cache
lab2/lab2_friz/task3/obj/Debug/net5.0/task3.csproj.CoreCompileInputs.cache
lab2/lab2_friz/task3/obj/Debug/net5.0/task3.csproj.FileListAbsolute.txt
lab2/lab2_friz/task3/obj/Debug/net5.0/task3.dll
lab2/lab2_friz/task3/obj/Debug/net5.0/task3.GeneratedMSBuildEditorConfig.editorconfig
lab2/lab2_friz/task3/obj/Debug/net5.0/task3.pdb
lab2/lab2_friz/task3/obj/Debug/net5.0/ref/task3.dll
lab2/lab2_friz/task4/bin/Debug/net5.0/task4.deps.json
lab2/lab2_friz/task4/bin/Debug/net5.0/task4.dll
lab2/lab2_friz/task4/bin/Debug/net5.0/task4.pdb
lab2/lab2_friz/task4/bin/Debug/net5.0/ref/task4.dll
lab2/lab2_friz/task4/obj/project.assets.json
lab2/lab2_friz/task4/obj/project.nuget.cache
lab2/lab2_friz/task4/obj/task4.csproj.nuget.dgspec.json
lab2/lab2_friz/task4/obj/task4.csproj.nuget.g.props
lab2/lab2_friz/task4/obj/task4.csproj.nuget.g.targets
lab2/lab2_friz/task4/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab2/lab2_friz/task4/obj/Debug/net5.0/task4.AssemblyInfo.cs
lab2/lab2_friz/task4/obj/Debug/net5.0/task4.AssemblyInfoInputs.cache
lab2/lab2_friz/task4/obj/Debug/net5.0/task4.assets.cache
lab2/lab2_friz/task4/obj/Debug/net5.0/task4.csproj.AssemblyReference.cache
lab2/lab2_friz/task4/obj/Debug/net5.0/task4.csproj.CoreCompileInputs.cache
lab2/lab2_friz/task4/obj/Debug/net5.0/task4.csproj.FileListAbsolute.txt
lab2/lab2_friz/task4/obj/Debug/net5.0/task4.dll
lab2/lab2_friz/task4/obj/Debug/net5.0/task4.GeneratedMSBuildEditorConfig.editorconfig
lab2/lab2_friz/task4/obj/Debug/net5.0/task4.pdb
lab2/lab2_friz/task4/obj/Debug/net5.0/ref/task4.dll
lab2/lab2_friz/task5/bin/Debug/net5.0/task5.deps.json
lab2/lab2_friz/task5/bin/Debug/net5.0/task5.dll
lab2/lab2_friz/task5/bin/Debug/net5.0/task5.pdb
lab2/lab2_friz/task5/bin/Debug/net5.0/ref/task5.dll
lab2/lab2_friz/task5/obj/project.assets.json
lab2/lab2_friz/task5/obj/project.nuget.cache
lab2/lab2_friz/task5/obj/task5.csproj.nuget.dgspec.json
lab2/lab2_friz/task5/obj/task5.csproj.nuget.g.props
lab2/lab2_friz/task5/obj/task5.csproj.nuget.g.targets
lab2/lab2_friz/task5/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab2/lab2_friz/task5/obj/Debug/net5.0/task5.AssemblyInfo.cs
lab2/lab2_friz/task5/obj/Debug/net5.0/task5.AssemblyInfoInputs.cache
lab2/lab2_friz/task5/obj/Debug/net5.0/task5.assets.cache
lab2/lab2_friz/task5/obj/Debug/net5.0/task5.csproj.AssemblyReference.cache
lab2/lab2_friz/task5/obj/Debug/net5.0/task5.csproj.CoreCompileInputs.cache
lab2/lab2_friz/task5/obj/Debug/net5.0/task5.csproj.FileListAbsolute.txt
lab2/lab2_friz/task5/obj/Debug/net5.0/task5.dll
lab2/lab2_friz/task5/obj/Debug/net5.0/task5.GeneratedMSBuildEditorConfig.editorconfig
lab2/lab2_friz/task5/obj/Debug/net5.0/task5.pdb
lab2/lab2_friz/task5/obj/Debug/net5.0/ref/task5.dll
lab3/lab3_friz/.vs/lab3_friz/DesignTimeBuild/.dtbcache.v2
lab3/lab3_friz/.vs/lab3_friz/v16/.suo
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/lab3_friz.deps.json
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/lab3_friz.dll
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/lab3_friz.exe
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/lab3_friz.pdb
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/lab3_friz.runtimeconfig.dev.json
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/lab3_friz.runtimeconfig.json
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/logs.txt
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/task1.dll
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/task1.pdb
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/task2.dll
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/task2.pdb
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/task3.dll
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/task3.pdb
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/task4.dll
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/task4.pdb
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/task5.dll
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/task5.pdb
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/task6.dll
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/task6.pdb
lab3/lab3_friz/lab3_friz/bin/Debug/net5.0/ref/lab3_friz.dll
lab3/lab3_friz/lab3_friz/obj/lab3_friz.csproj.nuget.dgspec.json
lab3/lab3_friz/lab3_friz/obj/lab3_friz.csproj.nuget.g.props
lab3/lab3_friz/lab3_friz/obj/lab3_friz.csproj.nuget.g.targets
lab3/lab3_friz/lab3_friz/obj/project.assets.json
lab3/lab3_friz/lab3_friz/obj/project.nuget.cache
lab3/lab3_friz/lab3_friz/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab3/lab3_friz/lab3_friz/obj/Debug/net5.0/apphost.exe
lab3/lab3_friz/lab3_friz/obj/Debug/net5.0/lab3_friz.AssemblyInfo.cs
lab3/lab3_friz/lab3_friz/obj/Debug/net5.0/lab3_friz.AssemblyInfoInputs.cache
lab3/lab3_friz/lab3_friz/obj/Debug/net5.0/lab3_friz.assets.cache
lab3/lab3_friz/lab3_friz/obj/Debug/net5.0/lab3_friz.csproj.AssemblyReference.cache
lab3/lab3_friz/lab3_friz/obj/Debug/net5.0/lab3_friz.csproj.CopyComplete
lab3/lab3_friz/lab3_friz/obj/Debug/net5.0/lab3_friz.csproj.CoreCompileInputs.cache
lab3/lab3_friz/lab3_friz/obj/Debug/net5.0/lab3_friz.csproj.FileListAbsolute.txt
lab3/lab3_friz/lab3_friz/obj/Debug/net5.0/lab3_friz.dll
lab3/lab3_friz/lab3_friz/obj/Debug/net5.0/lab3_friz.GeneratedMSBuildEditorConfig.editorconfig
lab3/lab3_friz/lab3_friz/obj/Debug/net5.0/lab3_friz.genruntimeconfig.cache
lab3/lab3_friz/lab3_friz/obj/Debug/net5.0/lab3_friz.pdb
lab3/lab3_friz/lab3_friz/obj/Debug/net5.0/ref/lab3_friz.dll
lab3/lab3_friz/task1/bin/Debug/net5.0/task1.deps.json
lab3/lab3_friz/task1/bin/Debug/net5.0/task1.dll
lab3/lab3_friz/task1/bin/Debug/net5.0/task1.pdb
lab3/lab3_friz/task1/bin/Debug/net5.0/ref/task1.dll
lab3/lab3_friz/task1/obj/project.assets.json
lab3/lab3_friz/task1/obj/project.nuget.cache
lab3/lab3_friz/task1/obj/task1.csproj.nuget.dgspec.json
lab3/lab3_friz/task1/obj/task1.csproj.nuget.g.props
lab3/lab3_friz/task1/obj/task1.csproj.nuget.g.targets
lab3/lab3_friz/task1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab3/lab3_friz/task1/obj/Debug/net5.0/task1.AssemblyInfo.cs
lab3/lab3_friz/task1/obj/Debug/net5.0/task1.AssemblyInfoInputs.cache
lab3/lab3_friz/task1/obj/Debug/net5.0/task1.assets.cache
lab3/lab3_friz/task1/obj/Debug/net5.0/task1.csproj.AssemblyReference.cache
lab3/lab3_friz/task1/obj/Debug/net5.0/task1.csproj.CoreCompileInputs.cache
lab3/lab3_friz/task1/obj/Debug/net5.0/task1.csproj.FileListAbsolute.txt
lab3/lab3_friz/task1/obj/Debug/net5.0/task1.dll
lab3/lab3_friz/task1/obj/Debug/net5.0/task1.GeneratedMSBuildEditorConfig.editorconfig
lab3/lab3_friz/task1/obj/Debug/net5.0/task1.pdb
lab3/lab3_friz/task1/obj/Debug/net5.0/ref/task1.dll
lab3/lab3_friz/task2/bin/Debug/net5.0/task2.deps.json
lab3/lab3_friz/task2/bin/Debug/net5.0/task2.dll
lab3/lab3_friz/task2/bin/Debug/net5.0/task2.pdb
lab3/lab3_friz/task2/bin/Debug/net5.0/ref/task2.dll
lab3/lab3_friz/task2/obj/project.assets.json
lab3/lab3_friz/task2/obj/project.nuget.cache
lab3/lab3_friz/task2/obj/task2.csproj.nuget.dgspec.json
lab3/lab3_friz/task2/obj/task2.csproj.nuget.g.props
lab3/lab3_friz/task2/obj/task2.csproj.nuget.g.targets
lab3/lab3_friz/task2/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab3/lab3_friz/task2/obj/Debug/net5.0/task2.AssemblyInfo.cs
lab3/lab3_friz/task2/obj/Debug/net5.0/task2.AssemblyInfoInputs.cache
lab3/lab3_friz/task2/obj/Debug/net5.0/task2.assets.cache
lab3/lab3_friz/task2/obj/Debug/net5.0/task2.csproj.AssemblyReference.cache
lab3/lab3_friz/task2/obj/Debug/net5.0/task2.csproj.CoreCompileInputs.cache
lab3/lab3_friz/task2/obj/Debug/net5.0/task2.csproj.FileListAbsolute.txt
lab3/lab3_friz/task2/obj/Debug/net5.0/task2.dll
lab3/lab3_friz/task2/obj/Debug/net5.0/task2.GeneratedMSBuildEditorConfig.editorconfig
lab3/lab3_friz/task2/obj/Debug/net5.0/task2.pdb
lab3/lab3_friz/task2/obj/Debug/net5.0/ref/task2.dll
lab3/lab3_friz/task3/bin/Debug/net5.0/task3.deps.json
lab3/lab3_friz/task3/bin/Debug/net5.0/task3.dll
lab3/lab3_friz/task3/bin/Debug/net5.0/task3.pdb
lab3/lab3_friz/task3/bin/Debug/net5.0/ref/task3.dll
lab3/lab3_friz/task3/obj/project.assets.json
lab3/lab3_friz/task3/obj/project.nuget.cache
lab3/lab3_friz/task3/obj/task3.csproj.nuget.dgspec.json
lab3/lab3_friz/task3/obj/task3.csproj.nuget.g.props
lab3/lab3_friz/task3/obj/task3.csproj.nuget.g.targets
lab3/lab3_friz/task3/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab3/lab3_friz/task3/obj/Debug/net5.0/task3.AssemblyInfo.cs
lab3/lab3_friz/task3/obj/Debug/net5.0/task3.AssemblyInfoInputs.cache
lab3/lab3_friz/task3/obj/Debug/net5.0/task3.assets.cache
lab3/lab3_friz/task3/obj/Debug/net5.0/task3.csproj.AssemblyReference.cache
lab3/lab3_friz/task3/obj/Debug/net5.0/task3.csproj.CoreCompileInputs.cache
lab3/lab3_friz/task3/obj/Debug/net5.0/task3.csproj.FileListAbsolute.txt
lab3/lab3_friz/task3/obj/Debug/net5.0/task3.dll
lab3/lab3_friz/task3/obj/Debug/net5.0/task3.GeneratedMSBuildEditorConfig.editorconfig
lab3/lab3_friz/task3/obj/Debug/net5.0/task3.pdb
lab3/lab3_friz/task3/obj/Debug/net5.0/ref/task3.dll
lab3/lab3_friz/task4/bin/Debug/net5.0/task4.deps.json
lab3/lab3_friz/task4/bin/Debug/net5.0/task4.dll
lab3/lab3_friz/task4/bin/Debug/net5.0/task4.pdb
lab3/lab3_friz/task4/bin/Debug/net5.0/ref/task4.dll
lab3/lab3_friz/task4/obj/project.assets.json
lab3/lab3_friz/task4/obj/project.nuget.cache
lab3/lab3_friz/task4/obj/task4.csproj.nuget.dgspec.json
lab3/lab3_friz/task4/obj/task4.csproj.nuget.g.props
lab3/lab3_friz/task4/obj/task4.csproj.nuget.g.targets
lab3/lab3_friz/task4/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab3/lab3_friz/task4/obj/Debug/net5.0/task4.AssemblyInfo.cs
lab3/lab3_friz/task4/obj/Debug/net5.0/task4.AssemblyInfoInputs.cache
lab3/lab3_friz/task4/obj/Debug/net5.0/task4.assets.cache
lab3/lab3_friz/task4/obj/Debug/net5.0/task4.csproj.AssemblyReference.cache
lab3/lab3_friz/task4/obj/Debug/net5.0/task4.csproj.CoreCompileInputs.cache
lab3/lab3_friz/task4/obj/Debug/net5.0/task4.csproj.FileListAbsolute.txt
lab3/lab3_friz/task4/obj/Debug/net5.0/task4.dll
lab3/lab3_friz/task4/obj/Debug/net5.0/task4.GeneratedMSBuildEditorConfig.editorconfig
lab3/lab3_friz/task4/obj/Debug/net5.0/task4.pdb
lab3/lab3_friz/task4/obj/Debug/net5.0/ref/task4.dll
lab3/lab3_friz/task5/Command.cs
lab3/lab3_friz/task5/HtmlRenderingVisitor.cs
lab3/lab3_friz/task5/ICommand.cs
lab3/lab3_friz/task5/INodeVisitor.cs
lab3/lab3_friz/task5/State.cs
lab3/lab3_friz/task5/VisibleState.cs
lab3/lab3_friz/task5/bin/Debug/net5.0/task5.deps.json
lab3/lab3_friz/task5/bin/Debug/net5.0/task5.dll
lab3/lab3_friz/task5/bin/Debug/net5.0/task5.pdb
lab3/lab3_friz/task5/bin/Debug/net5.0/ref/task5.dll
lab3/lab3_friz/task5/obj/project.assets.json
lab3/lab3_friz/task5/obj/project.nuget.cache
lab3/lab3_friz/task5/obj/task5.csproj.nuget.dgspec.json
lab3/lab3_friz/task5/obj/task5.csproj.nuget.g.props
lab3/lab3_friz/task5/obj/task5.csproj.nuget.g.targets
lab3/lab3_friz/task5/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab3/lab3_friz/task5/obj/Debug/net5.0/task5.AssemblyInfo.cs
lab3/lab3_friz/task5/obj/Debug/net5.0/task5.AssemblyInfoInputs.cache
lab3/lab3_friz/task5/obj/Debug/net5.0/task5.assets.cache
lab3/lab3_friz/task5/obj/Debug/net5.0/task5.csproj.AssemblyReference.cache
lab3/lab3_friz/task5/obj/Debug/net5.0/task5.csproj.CoreCompileInputs.cache
lab3/lab3_friz/task5/obj/Debug/net5.0/task5.csproj.FileListAbsolute.txt
lab3/lab3_friz/task5/obj/Debug/net5.0/task5.dll
lab3/lab3_friz/task5/obj/Debug/net5.0/task5.GeneratedMSBuildEditorConfig.editorconfig
lab3/lab3_friz/task5/obj/Debug/net5.0/task5.pdb
lab3/lab3_friz/task5/obj/Debug/net5.0/ref/task5.dll
lab3/lab3_friz/task6/bin/Debug/net5.0/task5.dll
lab3/lab3_friz/task6/bin/Debug/net5.0/task5.pdb
lab3/lab3_friz/task6/bin/Debug/net5.0/task6.deps.json
lab3/lab3_friz/task6/bin/Debug/net5.0/task6.dll
lab3/lab3_friz/task6/bin/Debug/net5.0/task6.pdb
lab3/lab3_friz/task6/bin/Debug/net5.0/ref/task6.dll
lab3/lab3_friz/task6/obj/project.assets.json
lab3/lab3_friz/task6/obj/project.nuget.cache
lab3/lab3_friz/task6/obj/task6.csproj.nuget.dgspec.json
lab3/lab3_friz/task6/obj/task6.csproj.nuget.g.props
lab3/lab3_friz/task6/obj/task6.csproj.nuget.g.targets
lab3/lab3_friz/task6/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab3/lab3_friz/task6/obj/Debug/net5.0/task6.AssemblyInfo.cs
lab3/lab3_friz/task6/obj/Debug/net5.0/task6.AssemblyInfoInputs.cache
lab3/lab3_friz/task6/obj/Debug/net5.0/task6.assets.cache
lab3/lab3_friz/task6/obj/Debug/net5.0/task6.csproj.AssemblyReference.cache
lab3/lab3_friz/task6/obj/Debug/net5.0/task6.csproj.CopyComplete
lab3/lab3_friz/task6/obj/Debug/net5.0/task6.csproj.CoreCompileInputs.cache
lab3/lab3_friz/task6/obj/Debug/net5.0/task6.csproj.FileListAbsolute.txt
lab3/lab3_friz/task6/obj/Debug/net5.0/task6.dll
lab3/lab3_friz/task6/obj/Debug/net5.0/task6.GeneratedMSBuildEditorConfig.editorconfig
lab3/lab3_friz/task6/obj/Debug/net5.0/task6.pdb
lab3/lab3_friz/task6/obj/Debug/net5.0/ref/task6.dll
lab4/lab4_friz/.vs/lab4_friz/DesignTimeBuild/.dtbcache.v2
lab4/lab4_friz/.vs/lab4_friz/v16/.suo
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/lab4_friz.deps.json
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/lab4_friz.dll
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/lab4_friz.exe
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/lab4_friz.pdb
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/lab4_friz.runtimeconfig.dev.json
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/lab4_friz.runtimeconfig.json
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/t2.dll
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/t2.pdb
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/task1.dll
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/task1.pdb
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/task3.dll
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/task3.pdb
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/task4.dll
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/task4.pdb
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/task5.dll
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/task5.pdb
lab4/lab4_friz/lab4_friz/bin/Debug/net5.0/ref/lab4_friz.dll
lab4/lab4_friz/lab4_friz/obj/lab4_friz.csproj.nuget.dgspec.json
lab4/lab4_friz/lab4_friz/obj/lab4_friz.csproj.nuget.g.props
lab4/lab4_friz/lab4_friz/obj/lab4_friz.csproj.nuget.g.targets
lab4/lab4_friz/lab4_friz/obj/project.assets.json
lab4/lab4_friz/lab4_friz/obj/project.nuget.cache
lab4/lab4_friz/lab4_friz/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab4/lab4_friz/lab4_friz/obj/Debug/net5.0/apphost.exe
lab4/lab4_friz/lab4_friz/obj/Debug/net5.0/lab4_friz.AssemblyInfo.cs
lab4/lab4_friz/lab4_friz/obj/Debug/net5.0/lab4_friz.AssemblyInfoInputs.cache
lab4/lab4_friz/lab4_friz/obj/Debug/net5.0/lab4_friz.assets.cache
lab4/lab4_friz/lab4_friz/obj/Debug/net5.0/lab4_friz.csproj.AssemblyReference.cache
lab4/lab4_friz/lab4_friz/obj/Debug/net5.0/lab4_friz.csproj.CopyComplete
lab4/lab4_friz/lab4_friz/obj/Debug/net5.0/lab4_friz.csproj.CoreCompileInputs.cache
lab4/lab4_friz/lab4_friz/obj/Debug/net5.0/lab4_friz.csproj.FileListAbsolute.txt
lab4/lab4_friz/lab4_friz/obj/Debug/net5.0/lab4_friz.dll
lab4/lab4_friz/lab4_friz/obj/Debug/net5.0/lab4_friz.GeneratedMSBuildEditorConfig.editorconfig
lab4/lab4_friz/lab4_friz/obj/Debug/net5.0/lab4_friz.genruntimeconfig.cache
lab4/lab4_friz/lab4_friz/obj/Debug/net5.0/lab4_friz.pdb
lab4/lab4_friz/lab4_friz/obj/Debug/net5.0/ref/lab4_friz.dll
lab4/lab4_friz/t2/bin/Debug/net5.0/t2.deps.json
lab4/lab4_friz/t2/bin/Debug/net5.0/t2.dll
lab4/lab4_friz/t2/bin/Debug/net5.0/t2.pdb
lab4/lab4_friz/t2/bin/Debug/net5.0/ref/t2.dll
lab4/lab4_friz/t2/obj/project.assets.json
lab4/lab4_friz/t2/obj/project.nuget.cache
lab4/lab4_friz/t2/obj/t2.csproj.nuget.dgspec.json
lab4/lab4_friz/t2/obj/t2.csproj.nuget.g.props
lab4/lab4_friz/t2/obj/t2.csproj.nuget.g.targets
lab4/lab4_friz/t2/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab4/lab4_friz/t2/obj/Debug/net5.0/t2.AssemblyInfo.cs
lab4/lab4_friz/t2/obj/Debug/net5.0/t2.AssemblyInfoInputs.cache
lab4/lab4_friz/t2/obj/Debug/net5.0/t2.assets.cache
lab4/lab4_friz/t2/obj/Debug/net5.0/t2.csproj.AssemblyReference.cache
lab4/lab4_friz/t2/obj/Debug/net5.0/t2.csproj.CoreCompileInputs.cache
lab4/lab4_friz/t2/obj/Debug/net5.0/t2.csproj.FileListAbsolute.txt
lab4/lab4_friz/t2/obj/Debug/net5.0/t2.dll
lab4/lab4_friz/t2/obj/Debug/net5.0/t2.GeneratedMSBuildEditorConfig.editorconfig
lab4/lab4_friz/t2/obj/Debug/net5.0/t2.pdb
lab4/lab4_friz/t2/obj/Debug/net5.0/ref/t2.dll
lab4/lab4_friz/task1/TechnicalSupportHandler.cs
lab4/lab4_friz/task1/bin/Debug/net5.0/task1.deps.json
lab4/lab4_friz/task1/bin/Debug/net5.0/task1.dll
lab4/lab4_friz/task1/bin/Debug/net5.0/task1.pdb
lab4/lab4_friz/task1/bin/Debug/net5.0/ref/task1.dll
lab4/lab4_friz/task1/obj/project.assets.json
lab4/lab4_friz/task1/obj/project.nuget.cache
lab4/lab4_friz/task1/obj/task1.csproj.nuget.dgspec.json
lab4/lab4_friz/task1/obj/task1.csproj.nuget.g.props
lab4/lab4_friz/task1/obj/task1.csproj.nuget.g.targets
lab4/lab4_friz/task1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab4/lab4_friz/task1/obj/Debug/net5.0/task1.AssemblyInfo.cs
lab4/lab4_friz/task1/obj/Debug/net5.0/task1.AssemblyInfoInputs.cache
lab4/lab4_friz/task1/obj/Debug/net5.0/task1.assets.cache
lab4/lab4_friz/task1/obj/Debug/net5.0/task1.csproj.AssemblyReference.cache
lab4/lab4_friz/task1/obj/Debug/net5.0/task1.csproj.CoreCompileInputs.cache
lab4/lab4_friz/task1/obj/Debug/net5.0/task1.csproj.FileListAbsolute.txt
lab4/lab4_friz/task1/obj/Debug/net5.0/task1.dll
lab4/lab4_friz/task1/obj/Debug/net5.0/task1.GeneratedMSBuildEditorConfig.editorconfig
lab4/lab4_friz/task1/obj/Debug/net5.0/task1.pdb
lab4/lab4_friz/task1/obj/Debug/net5.0/ref/task1.dll
lab4/lab4_friz/task3/bin/Debug/net5.0/task3.deps.json
lab4/lab4_friz/task3/bin/Debug/net5.0/task3.dll
lab4/lab4_friz/task3/bin/Debug/net5.0/task3.pdb
lab4/lab4_friz/task3/bin/Debug/net5.0/ref/task3.dll
lab4/lab4_friz/task3/obj/project.assets.json
lab4/lab4_friz/task3/obj/project.nuget.cache
lab4/lab4_friz/task3/obj/task3.csproj.nuget.dgspec.json
lab4/lab4_friz/task3/obj/task3.csproj.nuget.g.props
lab4/lab4_friz/task3/obj/task3.csproj.nuget.g.targets
lab4/lab4_friz/task3/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab4/lab4_friz/task3/obj/Debug/net5.0/task3.AssemblyInfo.cs
lab4/lab4_friz/task3/obj/Debug/net5.0/task3.AssemblyInfoInputs.cache
lab4/lab4_friz/task3/obj/Debug/net5.0/task3.assets.cache
lab4/lab4_friz/task3/obj/Debug/net5.0/task3.csproj.AssemblyReference.cache
lab4/lab4_friz/task3/obj/Debug/net5.0/task3.csproj.CoreCompileInputs.cache
lab4/lab4_friz/task3/obj/Debug/net5.0/task3.csproj.FileListAbsolute.txt
lab4/lab4_friz/task3/obj/Debug/net5.0/task3.dll
lab4/lab4_friz/task3/obj/Debug/net5.0/task3.GeneratedMSBuildEditorConfig.editorconfig
lab4/lab4_friz/task3/obj/Debug/net5.0/task3.pdb
lab4/lab4_friz/task3/obj/Debug/net5.0/ref/task3.dll
lab4/lab4_friz/task4/bin/Debug/net5.0/task4.deps.json
lab4/lab4_friz/task4/bin/Debug/net5.0/task4.dll
lab4/lab4_friz/task4/bin/Debug/net5.0/task4.pdb
lab4/lab4_friz/task4/bin/Debug/net5.0/ref/task4.dll
lab4/lab4_friz/task4/obj/project.assets.json
lab4/lab4_friz/task4/obj/project.nuget.cache
lab4/lab4_friz/task4/obj/task4.csproj.nuget.dgspec.json
lab4/lab4_friz/task4/obj/task4.csproj.nuget.g.props
lab4/lab4_friz/task4/obj/task4.csproj.nuget.g.targets
lab4/lab4_friz/task4/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab4/lab4_friz/task4/obj/Debug/net5.0/task4.AssemblyInfo.cs
lab4/lab4_friz/task4/obj/Debug/net5.0/task4.AssemblyInfoInputs.cache
lab4/lab4_friz/task4/obj/Debug/net5.0/task4.assets.cache
lab4/lab4_friz/task4/obj/Debug/net5.0/task4.csproj.AssemblyReference.cache
lab4/lab4_friz/task4/obj/Debug/net5.0/task4.csproj.CoreCompileInputs.cache
lab4/lab4_friz/task4/obj/Debug/net5.0/task4.csproj.FileListAbsolute.txt
lab4/lab4_friz/task4/obj/Debug/net5.0/task4.dll
lab4/lab4_friz/task4/obj/Debug/net5.0/task4.GeneratedMSBuildEditorConfig.editorconfig
lab4/lab4_friz/task4/obj/Debug/net5.0/task4.pdb
lab4/lab4_friz/task4/obj/Debug/net5.0/ref/task4.dll
lab4/lab4_friz/task5/bin/Debug/net5.0/task5.deps.json
lab4/lab4_friz/task5/bin/Debug/net5.0/task5.dll
lab4/lab4_friz/task5/bin/Debug/net5.0/task5.pdb
lab4/lab4_friz/task5/bin/Debug/net5.0/ref/task5.dll
lab4/lab4_friz/task5/obj/project.assets.json
lab4/lab4_friz/task5/obj/project.nuget.cache
lab4/lab4_friz/task5/obj/task5.csproj.nuget.dgspec.json
lab4/lab4_friz/task5/obj/task5.csproj.nuget.g.props
lab4/lab4_friz/task5/obj/task5.csproj.nuget.g.targets
lab4/lab4_friz/task5/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab4/lab4_friz/task5/obj/Debug/net5.0/task5.AssemblyInfo.cs
lab4/lab4_friz/task5/obj/Debug/net5.0/task5.AssemblyInfoInputs.cache
lab4/lab4_friz/task5/obj/Debug/net5.0/task5.assets.cache
lab4/lab4_friz/task5/obj/Debug/net5.0/task5.csproj.AssemblyReference.cache
lab4/lab4_friz/task5/obj/Debug/net5.0/task5.csproj.CoreCompileInputs.cache
lab4/lab4_friz/task5/obj/Debug/net5.0/task5.csproj.FileListAbsolute.txt
lab4/lab4_friz/task5/obj/Debug/net5.0/task5.dll
lab4/lab4_friz/task5/obj/Debug/net5.0/task5.GeneratedMSBuildEditorConfig.editorconfig
lab4/lab4_friz/task5/obj/Debug/net5.0/task5.pdb
lab4/lab4_friz/task5/obj/Debug/net5.0/ref/task5.dll
lab6/Inventory/Inventory/Properties/Resources.resx
